<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
</head>
<body>
    <form>
        <button formmethod="get" formaction="/users">List of Users</button>
        <button formmethod="get" formaction="/tags">List of Tags</button>
    </form>
    <h1>Blogly Recent Posts</h1>
    
    {% for post in posts %}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <h3>Tags</h3>
    {% if post.tags %}
        {% for tag in post.tags %}
        <a href="/tags/{{tag.id}}"><i>{{tag.name}}</i></a>
        {% endfor %}
    {% else %}
        <i>No tags found</i>
    {% endif %}

    <div><small>created on {{post.friendly_date}} by {{post.user.full_name}}</small></div>
    {% endfor %}    
</body>
</html>