<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post ({{post.title}})</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <label for="title">title</label>
        <input type="text" name="title">
        <label for="content">post content</label>
        <input type="text" name="content">
        <button>Edit</button>
    </form>
    <form action="/users/{{post.user.id}}">
        <button>Cancel</button>
    </form>
</body>
</html>