<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post ({{post.title}})</h1>
    <form>
        <label for="title">title</label>
        <input type="text" name="title">
        <label for="content">post content</label>
        <input type="text" name="content">
        {% for tag in tags %}
        <div>
            <input type="checkbox" name="tags" value={{tag.id}} id="tag_{{tag.id}}">
            <label for="tag_{{tag.id}}">{{tag.name}}</label>
        </div>
        {% endfor %}
        <button formaction="/users/{{post.user.id}}" formmethod="get">Cancel</button>
        <button formaction="/posts/{{post.id}}/edit" formmethod="POST">Edit</button>
</body>
</html>